In [15]:
import numpy as np
import pandas as pd
from sklearn import linear_model, metrics

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
import os
print(os.getcwd())
#os.chdir(\Users)

C:\Users\fungro\Documents\Transfer to EY\zInternal\Learning\Bootcamps\GA - Data Science Program\ds-sf-29\lessons\lesson-07\code

In [32]:
data = pd.read_csv('csv_for_07_linear_regression.csv')
data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Unnamed: 14
0,81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [33]:
data.describe()

C:\Program Files\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,FICO.Range,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
count,2500.000000,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000
mean,51631.597200,12406.500000,12001.573236,5688.931321,10.075661,15244.559648,0.906325
std,30053.345508,7801.544872,7745.320754,3963.118185,4.508644,18308.549795,1.231036
min,10.000000,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
25%,26523.000000,6000.000000,6000.000000,NaN,NaN,NaN,NaN
50%,50653.000000,10000.000000,10000.000000,NaN,NaN,NaN,NaN
75%,77580.500000,17000.000000,16000.000000,NaN,NaN,NaN,NaN
max,104202.000000,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

In [ ]:
# predict the amount funded by investors in the future