In [9]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

%matplotlib inline

In [36]:
# Right = [25, 22, 60, 45 ,60 ,0]
#Left = [100, 20, 90, 40, 65]
# d = {"Right": Right, "Left": Left}
# df = pd.DataFrame(d)

In [21]:
stats.ttest_ind(Right, Left)

Ttest_indResult(statistic=-1.6017250807058889, pvalue=0.14368031321897859)

In [35]:
# A hypothesis is that 17% out of a sample population is vegetarian.
# In actuality, there were 4 vegetarians out of a sample of 13 people.
# The null hypothesis is that this result is close enough, and we can still say that 17% of the populationon are vegetarians
# Do we reject the null hypoethesis?
vegie = [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
dic = {"vegie": vegie}
df = pd.DataFrame(dic)
stats.ttest_1samp(df["vegie"], 0.17)

Ttest_1sampResult(statistic=1.0334569818494301, pvalue=0.32176906413037798)

In [37]:
# If the p-value is significantly greater than the alpha, then you cannot reject the null hypoethesis
# In this case, 0.32 > alpha=0.05

#### Build a confidence interval from: [5, 1, 3, 3, 1, 3, 3, 2, 4, 3, 4, 2, 3]

In [43]:
data = [5, 1, 3, 3, 1, 3, 3, 2, 4, 3, 4, 2, 3]
dictionary = {"data": data, square_errors}
df = pd.DataFrame(dictionary)

    data
0      5
1      1
2      3
3      3
4      1
5      3
6      3
7      2
8      4
9      3
10     4
11     2
12     3